<div class="wrapper">
  <div class="calculator_wrapper">
    <header class="header">
      <p>9:41</p>
      <div class="mob_icons">
        <div class="item item_1"><img src="../img/1.svg" alt="" /></div>
        <div class="item item_2"><img src="../img/2.svg" alt="" /></div>
        <div class="item item_3"><img src="../img/3.svg" alt="" /></div>
      </div>
    </header>
    <section class="rezult">
      <div></div>
      <div></div>
      <div class="input_number">50 <span>+</span> 50</div>
      <div class="final_rezult">100</div>
    </section>
    <section class="number">
      <button class="sybol symbol_1">C</button>
      <button class="sybol symbol_2 color">%</button>
      <button class="sybol symbol_3">
        <img src="../img/clean.svg" alt="" />
      </button>
      <button class="sybol symbol_4 color">&#247;</button>
      <button class="sybol symbol_5">7</button>
      <button class="sybol symbol_6">8</button>
      <button class="sybol symbol_7">9</button>
      <button class="sybol symbol_8 color">&#215;</button>
      <button class="sybol symbol_9">4</button>
      <button class="sybol symbol_10">5</button>
      <button class="sybol symbol_11">6</button>
      <button class="sybol symbol_12 color">-</button>
      <button class="sybol symbol_13">1</button>
      <button class="sybol symbol_14">2</button>
      <button class="sybol symbol_15">3</button>
      <button class="sybol symbol_16 color">+</button>
      <button class="sybol symbol_17">.</button>
      <button class="sybol symbol_18">0</button>
      <button class="sybol symbol_19">
        <img src="../img/history.svg" alt="" />
      </button>
      <button class="sybol symbol_20 color">=</button>
      <div class="line"></div>
    </section>
  </div>
  <div class="calculator_wrapper">
    <header class="header">
      <p>9:41</p>
      <div class="mob_icons">
        <div class="item item_1"><img src="../img/1.svg" alt="" /></div>
        <div class="item item_2"><img src="../img/2.svg" alt="" /></div>
        <div class="item item_3"><img src="../img/3.svg" alt="" /></div>
      </div>
    </header>
    <section class="rezult">
      <div></div>
      <div></div>
      <div class="input_number">50 <span>+</span> 50</div>
      <div class="final_rezult">100</div>
    </section>
    <section class="number">
      <button class="sybol symbol_1">C</button>
      <button class="sybol symbol_2 color">%</button>
      <button class="sybol symbol_3">
        <img src="../img/clean.svg" alt="" />
      </button>
      <button class="sybol symbol_4 color">&#247;</button>
      <button class="sybol symbol_5">7</button>
      <button class="sybol symbol_6">8</button>
      <button class="sybol symbol_7">9</button>
      <button class="sybol symbol_8 color">&#215;</button>
      <button class="sybol symbol_9">4</button>
      <button class="sybol symbol_10">5</button>
      <button class="sybol symbol_11">6</button>
      <button class="sybol symbol_12 color">-</button>
      <button class="sybol symbol_13">1</button>
      <button class="sybol symbol_14">2</button>
      <button class="sybol symbol_15">3</button>
      <button class="sybol symbol_16 color">+</button>
      <button class="sybol symbol_17">.</button>
      <button class="sybol symbol_18">0</button>
      <button class="sybol symbol_19">
        <img src="../img/history.svg" alt="" />
      </button>
      <button class="sybol symbol_20 color">=</button>
      <div class="line"></div>
    </section>
  </div>
</div>
